In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%reload_ext autoreload
%autoreload 2

import keras
import tensorflow as tf
from keras.layers import Embedding, Merge, Dense, concatenate
from keras.models import Input, Model
from keras.callbacks import TensorBoard
from keras.utils import plot_model
#from keras.utils.vis_utils import model_to_dot
from IPython.display import SVG

keras.__version__
tf.__version__

'2.1.6'

'1.8.0'

In [36]:
emb_shape = (20000,1)
## dummy data
weekday = np.random.randint(low=1, high=8, size=emb_shape)
day = np.random.randint(low=1, high=32, size=emb_shape)
month = np.random.randint(low=1, high=13, size=emb_shape)
hour = np.random.randint(low=0, high=25, size=emb_shape)

weekday.shape, day.shape, month.shape, hour.shape

((20000, 1), (20000, 1), (20000, 1), (20000, 1))

In [37]:
date = pd.DataFrame({'datetime':pd.date_range(start="2015-01-01 00:00:00",
                     end="2020-12-31 23:59:00",
                     freq="1H")})

date['date'] = date.datetime.dt.date
date['hour'] = date.datetime.dt.hour
date['day'] = date.datetime.dt.day
date['weekday'] = date.datetime.dt.weekday
date['month'] = date.datetime.dt.month

date[date.datetime.astype(str) == "2018-05-12 00:00:00"]
date[date.datetime.astype(str) == "2018-05-13 00:00:00"]
date[date.datetime.astype(str) == "2018-05-14 00:00:00"]
date.shape

        datetime        date  hour  day  weekday  month
29448 2018-05-12  2018-05-12     0   12        5      5

        datetime        date  hour  day  weekday  month
29472 2018-05-13  2018-05-13     0   13        6      5

        datetime        date  hour  day  weekday  month
29496 2018-05-14  2018-05-14     0   14        0      5

(52608, 6)

In [38]:
n_unique = {}
for col in date.columns:
    n_unique[col] = date[col].nunique()
n_unique

{'datetime': 52608,
 'date': 2192,
 'hour': 24,
 'day': 31,
 'weekday': 7,
 'month': 12}

In [39]:
seq_len = 120
batch_size = 256
stride = 32

ei_wd = Input(shape=(seq_len,))
ei_d = Input(shape=(seq_len,))
ei_m = Input(shape=(seq_len,))
ei_h = Input(shape=(seq_len,))

e_wd = Embedding(input_dim=7, output_dim=3, input_length=seq_len)(ei_wd)
e_d = Embedding(input_dim=31, output_dim=15, input_length=seq_len)(ei_d)
e_m = Embedding(input_dim=12, output_dim=6, input_length=seq_len)(ei_m)
e_h = Embedding(input_dim=24, output_dim=12, input_length=seq_len)(ei_h)

merged = concatenate([e_wd, e_d, e_m, e_h], axis=-1)
dns = Dense(4)(merged)

model = Model(inputs=[ei_wd, ei_d, ei_m, ei_h], outputs=[dns])


plot_model(model, to_file='model.png', show_shapes=True, show_layer_names=True)
#SVG(model_to_dot(model).create(prog='dot', format='svg'))
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_19 (InputLayer)           (None, 120)          0
__________________________________________________________________________________________________
input_20 (InputLayer)           (None, 120)          0
__________________________________________________________________________________________________
input_21 (InputLayer)           (None, 120)          0
__________________________________________________________________________________________________
input_22 (InputLayer)           (None, 120)          0
__________________________________________________________________________________________________
embedding_19 (Embedding)        (None, 120, 3)       21          input_19[0][0]
__________________________________________________________________________________________________
embedding_20 (Embedding)        (None, 120, 15)      465         input_20[0][0]
__________________________________________________________________________________________________
embedding_21 (Embedding)        (None, 120, 6)       72          input_21[0][0]
__________________________________________________________________________________________________
embedding_22 (Embedding)        (None, 120, 12)      288         input_22[0][0]
__________________________________________________________________________________________________
concatenate_4 (Concatenate)     (None, 120, 36)      0           embedding_19[0][0]
                                                                 embedding_20[0][0]
                                                                 embedding_21[0][0]
                                                                 embedding_22[0][0]
__________________________________________________________________________________________________
dense_7 (Dense)                 (None, 120, 4)       148         concatenate_4[0][0]
==================================================================================================
Total params: 994
Trainable params: 994
Non-trainable params: 0
__________________________________________________________________________________________________