In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%reload_ext autoreload
%autoreload 2

import keras
import tensorflow as tf
from keras.layers import Embedding, Merge, Dense, concatenate
from keras.models import Input, Model
from keras.callbacks import TensorBoard
from keras.utils import plot_model
from IPython.display import SVG

keras.__version__
tf.__version__

/home/andri/Envs/konbini_detector/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

'2.1.6'

'1.8.0'

In [2]:
# generate dummy embedding data
date = pd.DataFrame({'datetime':pd.date_range(start="2000-01-01 00:00:00",
                     end="2020-12-31 23:59:00",
                     freq="1H")})

date['date'] = date.datetime.dt.date
date['hour'] = date.datetime.dt.hour
date['day'] = date.datetime.dt.day - 1
date['weekday'] = date.datetime.dt.weekday
date['month'] = date.datetime.dt.month - 1

n_unique = {}
data = {}
for col in ['hour','day','weekday','month']:
    print(f"unique values for {col}: {sorted(date[col].unique())}")
    n_unique[col] = date[col].nunique()
    data[col] = date[col]
    
#sanity checks
date[date.datetime.astype(str) == "2018-05-12 00:00:00"]
date[date.datetime.astype(str) == "2018-05-13 00:00:00"]
date[date.datetime.astype(str) == "2018-05-14 00:00:00"]
date.shape
n_unique

unique values for hour: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
unique values for day: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
unique values for weekday: [0, 1, 2, 3, 4, 5, 6]
unique values for month: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

         datetime        date  hour  day  weekday  month
160944 2018-05-12  2018-05-12     0   11        5      4

         datetime        date  hour  day  weekday  month
160968 2018-05-13  2018-05-13     0   12        6      4

         datetime        date  hour  day  weekday  month
160992 2018-05-14  2018-05-14     0   13        0      4

(184104, 6)

{'hour': 24, 'day': 31, 'weekday': 7, 'month': 12}

In [3]:
# creating target
hour_t = np.eye(24)[date['hour'].values]
day_t = np.eye(31)[date['day'].values]
weekday_t = np.eye(7)[date['weekday'].values]
month_t = np.eye(12)[date['month'].values]

target = np.concatenate([hour_t, day_t, weekday_t, month_t], axis=1)
target.shape
np.save('y.npy', target)

(184104, 74)

In [4]:
seq_len = 120
batch_size = 256
stride = 32

ei_wd = Input(shape=(seq_len,), name='emb_input_weekday')
ei_d = Input(shape=(seq_len,), name='emb_input_day')
ei_m = Input(shape=(seq_len,), name='emb_input_month')
ei_h = Input(shape=(seq_len,), name='emb_input_hour')

e_wd = Embedding(input_dim=7, output_dim=3, input_length=seq_len, name='emb_weekday')(ei_wd)
e_d = Embedding(input_dim=31, output_dim=15, input_length=seq_len, name='emb_day')(ei_d)
e_m = Embedding(input_dim=12, output_dim=6, input_length=seq_len, name='emb_month')(ei_m)
e_h = Embedding(input_dim=24, output_dim=12, input_length=seq_len, name='emb_hour')(ei_h)

merged = concatenate([e_wd, e_d, e_m, e_h], axis=-1)
dns = Dense(74)(merged)

model = Model(inputs=[ei_wd, ei_d, ei_m, ei_h], outputs=[dns])


plot_model(model, to_file='model.png', show_shapes=True, show_layer_names=True)
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
emb_input_weekday (InputLayer)  (None, 120)          0
__________________________________________________________________________________________________
emb_input_day (InputLayer)      (None, 120)          0
__________________________________________________________________________________________________
emb_input_month (InputLayer)    (None, 120)          0
__________________________________________________________________________________________________
emb_input_hour (InputLayer)     (None, 120)          0
__________________________________________________________________________________________________
emb_weekday (Embedding)         (None, 120, 3)       21          emb_input_weekday[0][0]
__________________________________________________________________________________________________
emb_day (Embedding)             (None, 120, 15)      465         emb_input_day[0][0]
__________________________________________________________________________________________________
emb_month (Embedding)           (None, 120, 6)       72          emb_input_month[0][0]
__________________________________________________________________________________________________
emb_hour (Embedding)            (None, 120, 12)      288         emb_input_hour[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 120, 36)      0           emb_weekday[0][0]
                                                                 emb_day[0][0]
                                                                 emb_month[0][0]
                                                                 emb_hour[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 120, 74)      2738        concatenate_1[0][0]
==================================================================================================
Total params: 3,584
Trainable params: 3,584
Non-trainable params: 0
__________________________________________________________________________________________________